version: '3.8'

services:
  api-gateway:
    image: cypher682/api-gateway:latest
    container_name: api-gateway
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - USER_SERVICE_URL=http://user-service:8000
      - PRODUCT_SERVICE_URL=http://product-service:8080
      - AWS_REGION=us-east-1
    restart: unless-stopped
    networks:
      - microservices

  user-service:
    image: cypher682/user-service:latest
    container_name: user-service
    environment:
      - AWS_REGION=us-east-1
      - DYNAMODB_USERS_TABLE=aws-microservices-cicd-users
    restart: unless-stopped
    networks:
      - microservices

  product-service:
    image: cypher682/product-service:latest
    container_name: product-service
    environment:
      - PORT=8080
      - AWS_REGION=us-east-1
      - DYNAMODB_PRODUCTS_TABLE=aws-microservices-cicd-products
    restart: unless-stopped
    networks:
      - microservices

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    restart: unless-stopped
    networks:
      - microservices

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana-data:/var/lib/grafana
      - ./monitoring/grafana/dashboards:/etc/grafana/provisioning/dashboards
    restart: unless-stopped
    networks:
      - microservices

networks:
  microservices:
    driver: bridge

volumes:
  prometheus-data:
  grafana-data:
